@charset "UTF-8";

$primary-color: #aec900; 
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 13px;
$link-color: black;
$title-background: $primary-color;
$title-color: black;
$button-background: $primary-color;
$button-color: black;
$border-radius: 3px;