@charset "UTF-8";

$primary-color: #aec900; 
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 13px;
$link-color: black;
$title-color: black;
$title-font-size: 1.2rem;
$title-border-bottom: 2px dotted $title-color;
$title-background: white; 
$button-background: black;
$button-color: white;
$border-radius: 0;
$cell-border: 0;

$green-color: #AFCA00;
$grey-color: #ececec;


// -----------------------------------------------------
//                     FONTES
// -----------------------------------------------------

// WinterthurCondensed
@font-face {
    font-family: 'WinterthurCondensed';
    src: url('fonts/WinterthurCondensed-webfont.eot');
    src: url('fonts/WinterthurCondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/webfont.woff') format('woff'),
         url('fonts/WinterthurCondensed-webfont.ttf') format('truetype'),
         url('fonts/WinterthurCondensed-webfont.svg#winterthurcondensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
