<!DOCTYPE html>
{% load i18n static %}
<html {% if LANGUAGE_CODE %}lang="{{ LANGUAGE_CODE }}"{% endif %} {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
  <head>
    <meta charset="UTF-8"><!-- ☭ -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% firstof global_title "Compte Citoyen" %} {% block title %}{% endblock %}</title>
    {% if meta_robots %}
    <meta name="robots" content="{{ meta_robots }}" />
    {% elif environment_label %}
    <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, notranslate, noimageindex" />
    {% endif %}
    {% if meta_description %}
    <meta name="description" content="{{ meta_description }}" />
    {% endif %}
    {% if favicon %}
    <link rel="shortcut icon" href="{{site_base}}{% static "" %}{{favicon}}" />
    {% endif %}
    {% if theme_color %}
    <meta name="theme-color" content="{{theme_color}}">
    <meta name="msapplication-navbutton-color" content="{{theme_color}}">
    {% endif %}
    {% if pwa_display == "standalone" or pwa_display == "fullscreen" %}
    <link rel="manifest" href="{{site_base}}/manifest.json">
    {% endif %}
    {% block extra_top_head %}
    {% endblock %}
    {{ media }}
    {% if css_variant %}
      <link rel="stylesheet" type="text/css" href="{{site_base}}{% static "" %}{{css_variant}}/style.css?{{statics_hash}}">
    {% else %}
      <link rel="stylesheet" type="text/css" href="{{site_base}}{% static "style.css" %}?{{statics_hash}}">
    {% endif %}
    {% block extra_css %}
    {% endblock %}
    {% block extra_scripts %}
    {% endblock %}
  </head>
  <body {% block bodyargs %}class="{% block bodyclasses %}{% endblock %}" {% block bodyattrs %}{% endblock %}{% endblock %}>
   <div id="nav-skip">
    <div>
     <a href="#main-content">Aller au contenu</a>
     <a href="#nav">Aller au menu</a>
    </div>
   </div>

   <div id="page" {% block page-args %}{% endblock %}>
    <header>
    <div id="header-wrapper" >
    <div id="header">
     {% block header-top %}{% endblock %}
     <div id="top">
        {% block header-title %}
        <a href="https://www.loire-atlantique.fr/">
            <div id="bandeau">
                <img alt="Département de Loire-Atlantique" title="Département de Loire-Atlantique" src="https://www.loire-atlantique.fr/s.gif">
            </div>
        </a>
        <h1 id="logo-demarches">
            <a href="{% if portal_user_url %}{{ portal_user_url }}{% else %}/{% endif %}">
                <img src="{{ portal_user_url }}/static/loireatlantique/images/demarches-logo.png" alt="Retour à l'accueil du site {{ site_title }}" title="Retour à l'accueil du site {{ site_title }}" >
            </a>
        </h1>
        {% endblock %}
       {% if include_top_links != False %}
       <div id="toplinks">
          {% block user-info %}
          {% if user.is_authenticated %}
          <span class="logged-in">
            <span class="connected-user">{{user.first_name}} {{user.last_name}}</span>
            <a class="logout" href="{% url 'auth_logout' %}">Déconnexion</a>
          </span>
          {% endif %}
          {% endblock %}
          {% if user.is_authenticated %}
            <a class="mes-demarches" href="{{ portal_user_url }}">Mes démarches</a>
            {% endif %}
        </div> <!-- toplinks -->
        {% endif %}
     </div>
     {% block header-bottom %}{% endblock %}
    </div> <!-- header -->
    </div> <!-- header-wrapper -->
    </header>

  {% block before-main-content %}
  {% endblock %}

    <div id="main-content-wrapper">
        <div id="main-content">

            {% block messages %}
            {% if messages %}
            <div id="messages" class="messages-login">
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endblock %}

            {% block content-pre %}{% endblock %}
            <div id="content" class="gru-content large">
                    {% block content-top %}{% endblock %}
                    {% block content %}
                    {% endblock %}
                    {% block content-bottom %}{% endblock %}
            </div> <!-- #content -->
            
            {% block content-post %}{% endblock %}

            <br class="clear"/>

        </div> <!-- #main-content -->
    </div> <!-- #main-content-wrapper -->

    <footer>
        {% block footer-top %}{% endblock %}
        <div id="footer-wrapper">
            <div id="footer">
                <div id="footer-links" class="grid-10-12">
                    <ul>
                        <li><a href="https://www.loire-atlantique.fr/demarches-nouscontacter">Nous contacter</a></li>
                        <li><a href="https://www.loire-atlantique.fr/demarches-mentionslegales">Mentions légales</a></li>
                    </ul>
                </div>
                <div id="logo-loire-atlantique" class="grid-2-12">
                    <a href="{{ logo_link_url|default:'/' }}">
                        <img src="{{ portal_user_url }}/static/loireatlantique/images/pied-logo.png" alt="Accès au site du Département de Loire-Atlantique" title="Accès au site du Département de Loire-Atlantique">
                    </a>
                </div>
            {% block footer %}
            <p id="legal">Copyright © 2018 Département de Loire-Atlantique</p>
            {% endblock %}
            </div>
        </div>
        {% block footer-bottom %}{% endblock %}
    </footer>

   </div> <!-- #page -->

   {% if environment_label %}<span id="environment-label">{{ environment_label }}</span>{% endif %}
   <a style="display: none" href="#" accesskey="t">Retour en haut de page</a>
   {% include "includes/tracking.html" %}
   {% block body-bottom %}
   {% endblock %}

  </body>
</html>
