{% extends "../../authentic2/login.html" %}

{% block content %}

<div id="login-page" class="methods3">
    
    <div class="connexion-title">
        <h1>Connexion aux services en ligne du Département de Loire-Atlantique</h1>
    </div>

    {# name : Nom de la méthode de connexion, soit: #}
    {# "Mot de passe", 'OpenIDConnect" (connexion Keycloack agent) ou"FranceConnect" #}

    {# Bloc Mot de passe #}
    {% for name, content in methods %}
        {% if name == "Mot de passe" %}
        <div class="block connexion motdepasse">
            {% if methods|length == 1 %}
            <h2>{% if forloop.counter0 %}{{name}}{% else %}Connexion{% endif %}</h2>
            {% endif %}
            <h3>Se connecter</h3>
            {{ content|safe }}
            <div class="or">ou</div>
        </div>
        {% endif %}
    {% endfor %}


    {# Bloc FranceConnect #}
    {% for name, content in methods %}
        {% if name == "FranceConnect" %}
        <div class="block connexion franceconnect">
            {% if methods|length == 1 %}
            <h2>{% if forloop.counter0 %}{{name}}{% else %}Connexion{% endif %}</h2>
            {% endif %}
            {{ content|safe }}
        </div>
        {% endif %}
    {% endfor %}

    {% block login-welcome-text %}
    <div id="register-account" class="block connexion creercompte">
        <h3>Créer un compte</h3>
        <p>Vous n'avez pas encore de compte ?<br>Créer un compte vous permet de suivre plus simplement vos démarches en ligne.</p>
        <div class="register"><a href="{{root_url}}/accounts/register/">Créer un compte</a></div>
    </div>
    {% endblock %}

    <br class="clear"/>

</div>

<div id="login-page-encart">

    <p>Les données personnelles vous concernant sont collectées et traitées par le Département de Loire-Atlantique (3 Quai Ceineray, CS 94109, 44041 Nantes Cedex 1) dans le cadre de la mise 
        en œuvre de sa politique de simplification des démarches. Ce traitement a pour seule finalité l’instruction de vos demandes par les services du Département en charge de ces démarches.</p>

    <p>Les données personnelles demandées sont nécessaires au traitement de votre demande : celle-ci ne pourra pas être instruite en cas d’information manquante, incomplète, illisible ou erronée.</p>

    <p>Vous pouvez accéder aux données vous concernant et demander leur rectification ou leur effacement.
    <br>Vous disposez également d'un droit d’opposition ou de limitation du traitement de vos données.</p>

    <p>Pour exercer ces droits ou pour toute question relative au traitement de vos données dans ce dispositif, vous pouvez contacter notre délégué à la protection des données à l’adresse suivante : Département de Loire-Atlantique, Délégué à la protection des données, Direction juridique, 3 quai ceineray, CS 94109, 44041 Nantes Cedex 1.</p>

</div>

{# Bouton connexion agent #}
{% for name, content in methods %}
<div id="bouton-connexion-agent">
    {% if methods|length == 1 %}
    <h2>{% if forloop.counter0 %}{{name}}{% else %}Connexion{% endif %}</h2>
    {% endif %}
    {% if name == "OpenIDConnect" %}
    <div>
        {{ content|safe }}
    </div>
    {% endif %}
</div>
{% endfor %}

<script>
    $("#oidc-a-keycloak-agents").addClass("button");
</script>

{% endblock %}
