{% load combo %}
{% block cell-content %}
<h2>Brouillons</h2>
{% for slug, forms in current_drafts.items %}
<div class="current-forms-{{ slug }} current-drafts list-of-forms">
  {% if forms.data %}
  <ul>
    {% for data in forms.data %}
    {% if data.url and data.title and not data.form_status_is_endpoint %}
    <li class="{{data.status_css_class}} {% if data.form_status_is_endpoint %}done{% endif %}">
        <a href="{{ data.url }}">
          <span class="form-title">{{ data.name }}</span>
          <span class="form-number">{{data.datetime|strptime:"%Y-%m-%d %H:%M:%S"}}</span>
        </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
  {% else %}
  <p class="zero-form">Vous n'avez pas de brouillon enregistré.</p>
  {% endif %}
</div>
{% endfor %}
{% endblock %}